#table {
    background-color: #FFF;
    margin: 2rem;
    width: 100%;
    height: 100%
}

#table span.search-group {
    width: 100%;

}

#table span.search-group i {
    font-size: 16px;
    color: var(--green);
}

#table span.search-group input {
    font-size: 1rem;
    padding: 1rem 0.5rem;
    width: 100%;
    display: block;
}

#table span.search-group input:focus {
    outline-style: none;
    box-shadow: none;
}