#table {
    background-color: #FFF;
    margin: 2rem;
    max-height: 800px;
    padding: .5rem 1rem;
    border-radius: 10px;
}

table#result-table {
    margin: 1rem 0;
}

table#result-table thead {
    color: var(--light-gray);
    font-size: 14px;
    font-weight: bolder;
    text-align: left;
}

tr#results {
    color: var(--dark-gray);
}

tr#results td {
    padding: 1.3rem 2rem 0 0;
    min-width: 120px;
}

#table-footer {
    margin: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}